.social-icons {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    a {
        @include font-size(20);
        padding: 0 10px 0 0;
    }
    ul {
        margin: 0;
        padding: 0;
        order: 7;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: flex-end;

        li {
            list-style-type: none;
            line-height: $line-height-base;
        }
    }
}