
.btn {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: $color-alt2;
  @media screen and (min-width: $bp3) {
    @include font-size(18);
  }
  &:hover {
    background-color: $color-alt2;
    color: $color-black;
    border: none;
  }
  &:active,
  &:focus {
    outline: none;
  }
  a {
    color: $textcolor;
    @include transition(0.4s);
    &:hover {
      text-decoration: none;
      background-color: $color-alt;
    }
    &:active,
    &:focus {
      outline: none;
    }
  }
}

// WooCommerce Buttons
.btn-singlecart {
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  .product & {
    position: inherit;
  }
}
.btn-checkout {
  // color: $color-white;
  background-color: $color-alt;
}



.btn--inline-text {
  display: inline;
  padding: 0;
  &:hover {
    &:before {
      color: complement($color-base);
    }
  }
}

.btn--standard {
    background-color: transparent;
    box-shadow: -2px -3px 0 1px $color-white inset;
    border-radius: 20px;
}
.btn--widget {}
.btn--minimal {
    border: none;
    background-color: transparent;
}
.btn--slideup {
    background-color: lighten($color-alt2, 8);
    &:hover {
        background-color: $color-alt2;
        color: $color-black;
        cursor: pointer;
    }
}


/**
* Inputs con estilo de botones
*/
input[type="submit"].btn:hover {
    border-color: $color-base;
}

/**
* Boton no disponible
*/
.btn--disabled {
    @include opacity(0.5);
    cursor: default;
}

// Boton desplegable
.btn--slidemenu {
    &:hover {}
    &:visited {}
}

/**
* Botones
*/

.btn--alert {
    &:hover {
        background-color: $color-base;
    }
}

.btn--close {}

.btn--well {
    &:hover {}

    &:focus {
        outline: none;
    }
}

.btn--info {
    background-color: $color-alt2;
    display: inline-block;
    border: none;
    // margin-top: $padding_base / 2;
    // margin-bottom: $padding_base / 2;
    &:hover {
        background-color: $color-black;
        color: $color-alt;
    }
    &:visited {}
}
.btn--submit {
    background-color: $color-alt2;
    display: inline-block;
    border: none;
    @include font-size(14);
    padding: $padding_base / 3;
    &:hover {
        background-color: $color-black;
        color: $color-alt;
    }
    &:visited {}
}
.btn--input {
    background-color: transparent;
    // display: inline-block;
    border: 2px solid $color-base;
    @include font-size(13);
    // margin-top: $padding_base / 2;
    // margin-bottom: $padding_base / 2;
    &:hover {
        color: $color-alt2;
        border-color: $color-alt;
        background-color: transparent;
    }
    &:visited {}
}

.btn--error {}


/**
* Boton principal
*/
.btn--primary {
    // @extend %clearfix;
    &:hover {}
}

/**
* Boton de OK
*/
.btn--success {
    &:hover {}
    &:visited {}
}

/**
* Boton de advertencia
*/
.btn--warning {}

.btn--link {}

/**
* Boton en footer
*/
.btn--footer {
    &:hover {}
    &:visited {}
}

.btn--inactive,
.btn--inactive:hover,
.btn--inactive:active,
.btn--inactive:focus {
    @include opacity(0.5);
    cursor: default;
}

/*------------------------------------*\
    $BOTONES-TAMAnOS
\*------------------------------------*/

.btn--mini {
    padding-right: 0.5em;
    padding-left: 0.5em;
    line-height: 1.5;
}

.btn--small {
    padding-right: 1.5em;
    padding-left: 1.5em;
    line-height: 2;
}

.btn--large {
    padding-right: 3em;
    padding-left: 3em;
    line-height: 4;
}

.btn--image {
    background-color: $color-alt;

    &:hover {
        background-color: lighten($color-alt, 3);
    }

    a {
        &:hover {
            background-color: transparent;
        }
    }
}

.btn--invert {}
