.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */

.icon-envelope {
	width: 1.1875em;
}

.icon-paperclip {
	width: 1.0625em;
}

.icon-paintbrush {
	width: 0.6875em;
}

.icon-alarmclock {
	width: 0.9375em;
}

.icon-hamenu {
	width: 1.2578125em;
}
